@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <h4>Welcome to your user homepage!</h4>
    <p>Below will be the ability to view and interact with images uploaded via the mobile application.</p>
</div>

<div class="row">

</div>